<div ng-controller="ModalCtrl">

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">New Room</h3>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" ng-model="newRoom.name" />
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="add()">Submit</button>
            <button class="btn btn-warning pull-left" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <h2>Chat Rooms
      <button type="button" class="btn btn-default" ng-click="open()"><i class="fa fa-plus"></i></button>
    </h2>
</div>
