#landing {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow-x: hidden;
    height: 100%;

    .toggled {
      padding-left: 265px;
    }

    #sidebar-wrapper {
        z-index: 1000;
        position: fixed;
        left: 250px;
        width: 0;
        height: 100%;
        margin-left: -250px;
        overflow-y: auto;
        background: #2F2F2F;
        color: #CCCCCC;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;

        h2 {
          color: #3CB2F6
        }
    }

    #roomTitle {
      margin: 20px;
    }

    .message {
      margin: 20px;
    }

    #messageInput {
      margin: 20px;
    }

    #page-content-wrapper {
      width: 100%;
      min-height: 100%;
      /* equal to footer height */
      margin-bottom: -80px;
    }
    #page-content-wrapper:after {
      content: "";
      display: block;
    }

    .site-footer, #page-content-wrapper:after {
      height: 80px;
    }
    .site-footer {
      background: orange;
    }

    @media(min-width:768px) {
        padding-left: 250px;

        #sidebar-wrapper {
            width: 250px;
        }

        #page-content-wrapper {
          padding: 0px;
            position: relative;
        }
    }
}
