#landing {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    .toggled {
      padding-left: 265px;
    }

    #sidebar-wrapper {
        z-index: 1000;
        position: fixed;
        left: 250px;
        width: 0;
        height: 100%;
        margin-left: -250px;
        overflow-y: auto;
        background: #2F2F2F;
        color: #CCCCCC;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;

        h2 {
          color: #3CB2F6
        }
    }


    .toggled {
      color: blue;

      #sidebar-wrapper {
        width: 250px;
      }

      #page-content-wrapper {
        position: absolute;
        margin-right: -250px;
      }
    }

    #page-content-wrapper {
      width: 100%;
      position: absolute;
    }


    @media(min-width:768px) {
        padding-left: 265px;

        .toggled {
            padding-left: 15px;

            #page-content-wrapper {
              position: relative;
              margin-right: 0;
            }

            #sidebar-wrapper {
              width: 0;
            }
        }

        #sidebar-wrapper {
            width: 250px;
        }

        #page-content-wrapper {
            padding: 20px;
            position: relative;
        }
    }
}
